:root {
    --bodyColor: #F8F6F4;
    --boxColor: #eff0ef;
    --dark-brand-color: #202020;
    --brand-color: #1FA84F;
    --primaryColor: #404742;
    --title-2-color: #292836;
    --secendaryColor: #5E5E5E;
    --dark-mode-color: #151515;
    --dark-hover-color: #2e2c2c;
    --header-color: #1e1e1e;
    --secndarey-dark-color: #c7dac7;
    --icon-sec-7-color: #bcbcbc;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Dark mode */

body.dark {
    background-color: var(--dark-mode-color);
}

body.dark .b-1 {
    color: var(--dark-mode-color);
}

body.dark .wrapper .container h1 {
    color: var(--boxColor);

}

body.dark .b-1:hover {
    color: var(--bodyColor);
    background-color: var(--dark-hover-color);


}



/* the end dark mode */

body {
    margin: 0px;
    font-family: sans-serif;
    overflow-x: hidden;




}

.wrapper {
    width: 100%;
    overflow: hidden;
    height: 100%;
    display: grid;
    place-items: center;
    place-content: center;

}

.wrapper .container {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.wrapper .container h1 {
    font-size: 65px;
    color: var(--secendaryColor);
    text-transform: uppercase;
    font-weight: bold;
    margin-block: 1rem;
}

.wrapper .container p {
    color: var(--secendaryColor);
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
}


/*  a  button */



.b-1:hover {
    color: var(--primaryColor);
    background-color: var(--boxColor);
    border: none !important;

}


.b-1:hover::after {
    content: "";
    left: -236px;
}

.b-1:hover::before {
    content: "";
    left: 236px;
}

/* The End.... */


