:root {
    --bodyColor: #F8F6F4;
    --boxColor: #eff0ef;
    --dark-brand-color: #202020;
    --brand-color: #1FA84F;
    --primaryColor: #404742;
    --title-2-color: #292836;
    --secendaryColor: #5E5E5E;
    --dark-mode-color: #151515;
    --dark-hover-color: #2e2c2c;
    --header-color: #1e1e1e;
    --secndarey-dark-color: #c7dac7;
    --icon-sec-7-color: #bcbcbc;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section.About-us.py-5,
.top {
    margin-top: 6%;
}

.top {
    background-color: var(--header-color);
}

.top h1 {
    color: var(--bodyColor);
    font-size: 45px;
}

.Top-wrapper a,
.Top-wrapper p {
    margin-right: 8px;
    color: var(--bodyColor);
}

.Top-wrapper p span {
    margin-left: 6px;
}

.top .f-16 {
    color: #898989 !important;
}